img {
    image-rendering: -webkit-optimize-contrast;
}
.uk-logo {
    font-size: 1.2rem;
}
.uk-link:hover, a:hover {
    text-decoration: none;
}

.hint-block {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #8e8e8e;
}
.tm-main {
    position: relative;
}
.tm-footer>div,
.tm-navside-footer.uk-card-small {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.tm-navside-footer {
    bottom: 0;
    position: fixed;
    background: #282828;
}
.uk-label-dark {
    background: #585858;
}
.uk-button-xsmall {
    padding: 0 5px;
    line-height: 20px;
    font-size: 0.675rem;
}
/* Offcanvas */

/* new v3 ----------------------------------------- */
/* Button */
.uk-button {
    padding: 0 10px;
}
table .uk-button.uk-button-small {
    padding: 0 8px;
}
.uk-button-success {
    background-color: #00c719;
    color: #fff;
    border: 1px solid transparent;
}
.uk-button-success:hover, .uk-button-success:focus {
    background-color: #00bf18;
    color: #fff;
}
/* Table */
.uk-table .uk-input,
.uk-table .uk-select {
    min-width: 50px;
}
/* Navbar */
.tm-navbar .uk-navbar-item,
.tm-navbar .uk-navbar-nav>li>a,
.tm-navbar .uk-navbar-toggle {
    height: 60px;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 60px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}
.uk-navbar-container:not(.uk-navbar-transparent) .uk-container {
    background: #f8f8f8;
}
.tm-sticky-subnav {
    margin-bottom: 20px;
}
.tm-sticky-subnav.uk-sticky.uk-active h1,
.tm-sticky-subnav.uk-sticky.uk-active h2,
.tm-sticky-subnav.uk-sticky.uk-active h3
{
    font-size: 1.25rem;
    line-height: 1.4;
}
.tm-sticky-subnav.uk-sticky.uk-active i {
    font-size: .875rem;
}
/* Container */
@media (min-width: 960px) {
    .uk-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 640px) {
    .uk-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Navside */
.tm-navside-left {
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    width: inherit;
    /* padding: 40px 40px 60px 40px; */
    overflow: auto;
}
